fastapi[all]
uvicorn
pandas
numpy
python-dotenv
pinecone
sentence-transformers
google-generative-ai
transformers
torch --index-url https://download.pytorch.org/whl/cpu
Pillow
requests
matplotlib
seaborn
scikit-learn